DATABASE_URL=postgresql://postgres:postgres@localhost:5432/audiobook

TTS_URL=http://localhost:7777

LOCALSTACK_AUTH_TOKEN=YOUR_LOCALSTACK_AUTH_TOKEN_HERE

AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

LLM_URL=http://localhost:1234
LLM_API_TOKEN=YOUR_LLM_API_TOKEN_HERE